@model Sales.ViewModels.DepartmentViewModel;

@{
    ViewBag.Title = string.Format("Exclusão do Departamento #{0} - {1}", Model.Id, Model.Name);
}


<div class="container">
    <h4>@ViewBag.Title</h4>

    <hr style="margin-bottom: 0.5rem !important;" />

    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Department" asp-action="Delete">
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input readonly asp-for="@Model.Name" class="form-control" placeholder="Nome" />
                </div>

                <div class="d-flex justify-content-between align-items-center form-group mt-4">
                    <a asp-action="Index" class="btn btn-secondary text-decoration-underline">
                        Voltar
                    </a>
                    <button type="submit" class="btn btn-danger">
                        Excluir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>