@model Sales.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ouve um erro ao processar esta requisição</h1>

<h4 class="mt-4">@Model.Message</h4>

@if (Model.ShowRequestId)
{
    <p class="mt-4">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}