@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Seja Bem Vindo</h1>
        <p>
            Para conhecer mais sobre este projeto,
            <a style="text-decoration: none;" asp-controller="Department" asp-action="Index">clique aqui </a><span>para ir até a rotina de departamentos</span>
        </p>
    </div>
</div>
